In [41]:
import pandas as pd
import numpy as np

## Identify Overlapping Peaks of Two Peak Tables

In [42]:
def ppm_calculation(x, y):
    return abs(x-y)*10e6/y

In [50]:
def nearest_value(lst, K):
    return lst[min(range(len(lst)), key = lambda i: abs(lst[i]-K))]

In [43]:
def n_overlapping_peaks_v0(t_1, t_2, col_name_mz, col_name_rt, ppm_threshold, rt_tolerance):
    # Calculating number of overlapping peaks between two peak tables. Make sure t_2 has less rows than t_1
    n = 0
    for i in range(len(t_2)):
        mz = t_2[col_name_mz].iloc[i]
        rt = t_2[col_name_rt].iloc[i]
        if len(t_1[(ppm_calculation(mz, t_1[col_name_mz])<=ppm_threshold) & (abs(table_1[col_name_rt] - rt) < rt_tolerance)])>0:
            n += 1
    return n

In [78]:
def overlapping_peaks(t_1, t_2, col_name_mz, col_name_rt, ppm_threshold, rt_tolerance):
    flag = 0
    flagged_rows = []
    for i in range(len(t_2)):
        second_flag = 0
        mz_list = list(table_1[col_name_mz].str.split("_", expand=True)[0]) + [x for x in list(table_1[col_name_mz].str.split("_", expand=True)[1]) if str(x)!="None"]
        rt_list = list(table_1[col_name_rt].str.split("_", expand=True)[0]) + [x for x in list(table_1[col_name_rt].str.split("_", expand=True)[1]) if str(x)!="None"]
        mz_list = [float(x) for x in mz_list]
        rt_list = [float(x) for x in rt_list]
        if (type(t_2[col_name_mz].iloc[i]) == float) or ("_" not in t_2[col_name_mz].iloc[i]):
            mz = float(t_2[col_name_mz].iloc[i])
            rt = float(t_2[col_name_rt].iloc[i])
            nearest_id = mz_list.index(nearest_value(mz_list, mz))
            if (ppm_calculation(mz, mz_list[nearest_id]) <= ppm_threshold) and (abs(rt - rt_list[nearest_id]) < rt_tolerance):
                continue
            else:
                flag = 1
        else:
            for j in range(len(t_2[col_name_mz].iloc[i].split("_"))):
                mz = float(t_2[col_name_mz].iloc[i].split("_")[j])
                rt = float(t_2[col_name_rt].iloc[i].split("_")[j])
                if (ppm_calculation(mz, mz_list[nearest_id]) <= ppm_threshold) and (abs(rt - rt_list[nearest_id]) < rt_tolerance):
                    second_flag = 1
                    continue
            if second_flag == 0:
                flag = 1
        if flag == 1:
            flagged_rows.append(i)
    return t_2.drop(labels=flagged_rows, axis=0)

### Local CMD VS HPC CMD

In [61]:
table_1 = pd.read_csv("../manuscript/peak_table/hpc_cmd/ms-dial/AlignResult-20231272341.txt", delimiter="\t", header=4)

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [62]:
table_2 = pd.read_csv("../manuscript/peak_table/local_cmd/ms-dial/AlignResult-2023129133.txt", delimiter="\t", header=4)

In [63]:
len(table_1)

25951

In [64]:
len(table_2)

25445

In [65]:
n_overlapping_peaks(table_1, table_2, "Average Mz", "Average Rt(min)", 10, 0.3)

18857

#### tests

In [45]:
table_1 = pd.read_csv("../../nextflow4metabolomics_manuscripts/nextflow4ms-dial/peak_table/hpc_cmd/ms-flo/AlignResult-2023282236_processed.txt", delimiter="\t")

In [46]:
table_2 = pd.read_csv("../../nextflow4metabolomics_manuscripts/nextflow4ms-dial/peak_table/local_cmd/ms-flo/AlignResult-2023291844_processed.txt", delimiter="\t")

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (20,21) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [47]:
table_1.head()

,identifier,Alignment ID,Average Mz,Average Rt(min),duplicate_flag,adduct_flag,isotope_flag,isotope_phr,Metabolite name,Adduct type,...,SB3,SA2,SB4,SB5,SA1,SB2,SA3,SA4,SB1,SA5
0,0.03_171.99,1886,171.9936,0.031,NaN,NaN,NaN,NaN,Unknown,[M+H]+,...,3555931.0,3107714.50,3700617.8,4714087.50,4075218.80,3473687.0,3224671.2,3100795.20,4109884.80,3218963.5
1,0.03_115.11,507,115.1119,0.034,NaN,NaN,NaN,NaN,Unknown,[M+H]+,...,396968.0,441166.22,386949.2,507670.12,518073.84,416492.8,406312.0,442892.34,425433.44,421556.3
2,0.04_182.99,2206,182.9855,0.038,NaN,NaN,NaN,NaN,Unknown,[M+H]+,...,6653673.5,6435527.50,6556864.5,7956248.50,8745378.00,6570529.0,6564399.0,6728224.00,8370828.00,6689435.0
3,0.04_196.15,2621,196.1549,0.042,NaN,NaN,NaN,NaN,Unknown,[M+H]+,...,2228402.2,2745459.00,2217159.0,2885036.20,3511845.20,2311969.0,2600677.0,2587100.20,2931167.50,2586849.2
4,0.43_118.09,581,118.0864,0.427,Match #069: Possible duplicate of 0.52_118.09 ...,NaN,NaN,NaN,w/o MS2:Valine; LC-ESI-QTOF; MS2; CE,[M+H]+,...,46561192.0,47708448.00,46621160.0,44220552.00,57559904.00,47149300.0,47418344.0,46128584.00,57822920.00,47533796.0

In [48]:
table_2.head()

,identifier,Alignment ID,Average Mz,Average Rt(min),duplicate_flag,adduct_flag,isotope_flag,isotope_phr,Metabolite name,Adduct type,...,SA1,SA2,SA3,SA4,SA5,SB1,SB2,SB3,SB4,SB5
0,0.03_171.99,1848,171.9936,0.031,NaN,NaN,NaN,NaN,Unknown,[M+H]+,...,4075218.80,3107714.5,3224671.20,3100795.20,3218963.50,4109884.80,3473687.00,3555931.00,3700617.80,4714087.50
1,0.04_182.99,2151,182.9855,0.038,NaN,NaN,NaN,NaN,Unknown,[M+H]+,...,8745378.00,6435527.5,6564399.00,6728224.00,6689435.00,8370828.00,6570529.00,6653673.50,6556864.50,7956248.50
2,0.04_196.15,2554,196.1549,0.042,NaN,NaN,NaN,NaN,Unknown,[M+H]+,...,3511845.20,2745459.0,2600677.00,2587100.20,2586849.20,2931167.50,2311969.00,2228402.20,2217159.00,2885036.20
3,0.41_118.44,554,118.4398,0.407,NaN,NaN,NaN,NaN,Unknown,[M+H]+,...,35294.02,30813.0,50259.05,24106.03,33674.96,31959.85,25801.86,21137.22,19737.76,18970.89
4,0.43_118.09,539,118.0864,0.427,Match #065: Possible duplicate of 0.52_118.09 ...,NaN,NaN,NaN,w/o MS2:Valine; LC-ESI-QTOF; MS2; CE,[M+H]+,...,57559904.00,47708448.0,47418344.00,46128584.00,47533796.00,57822920.00,47149300.00,46561192.00,46621160.00,44220552.00

In [79]:
table_merged = overlapping_peaks(table_1, table_2, "Average Mz", "Average Rt(min)", 10, 0.3)

In [80]:
len(table_merged)

17245

In [55]:
table_1["Average Mz"].str.split("_", expand=True)

              0     1
0      171.9936  None
1      115.1119  None
2      182.9855  None
3      196.1549  None
4      118.0864  None
...         ...   ...
25673  157.0355  None
25674  138.0586  None
25675  157.0354  None
25676  157.0354  None
25677  157.0356  None

[25678 rows x 2 columns]

In [21]:
len(list(table_1["Average Mz"].str.split("_", expand=True)[0]) + list(table_1["Average Mz"].str.split("_", expand=True)[1]))

51356

In [63]:
mzs = [float(x) for x in list(table_1["Average Mz"].str.split("_", expand=True)[0]) + [x for x in list(table_1["Average Mz"].str.split("_", expand=True)[1]) if str(x)!="None"]]

In [64]:
rts = [float(x) for x in list(table_1["Average Rt(min)"].str.split("_", expand=True)[0]) + [x for x in list(table_1["Average Rt(min)"].str.split("_", expand=True)[1]) if str(x)!="None"]]

In [65]:
mzs

[171.9936,
 115.1119,
 182.9855,
 196.1549,
 118.0864,
 144.1384,
 176.1399,
 260.2221,
 199.9885,
 213.983,
 141.1276,
 135.5307,
 227.983,
 219.9724,
 154.9902,
 139.9824,
 186.9568,
 110.0204,
 139.1114,
 131.9743,
 132.5418,
 105.9631,
 172.9569,
 113.9636,
 112.0178,
 196.0171,
 224.0116,
 141.9584,
 270.9645,
 319.9156,
 198.011,
 400.9232,
 182.9856,
 401.875,
 302.9152,
 349.9324,
 276.0271,
 266.0173,
 442.8981,
 348.951,
 422.8895,
 125.525,
 112.539,
 207.9849,
 255.0215,
 375.8752,
 127.5444,
 245.9159,
 107.031,
 376.0199,
 114.5586,
 131.1181,
 164.0673,
 188.0234,
 166.4216,
 260.9244,
 286.9426,
 329.9467,
 141.0409,
 218.0339,
 317.9804,
 180.9841,
 310.9077,
 153.033,
 169.0459,
 204.0006,
 151.0354,
 347.9925,
 505.8317,
 205.9963,
 306.9652,
 316.9147,
 197.041,
 507.8716,
 100.0144,
 120.5276,
 222.0108,
 416.9006,
 192.0619,
 173.0785,
 122.5471,
 101.1074,
 245.0274,
 250.0062,
 129.5331,
 124.5437,
 109.5216,
 162.9737,
 131.5527,
 194.0595,
 401.4015,
 284.9873,
 171.0056,
 126.5423,
 139.0181,
 180.0443,
 226.0501,
 336.4222,
 104.0302,
 166.8898,
 190.9794,
 143.0113,
 229.9645,
 280.9936,
 333.9587,
 213.0187,
 192.9766,
 195.0317,
 271.9138,
 314.9816,
 102.0338,
 239.9667,
 185.5071,
 154.0049,
 145.1337,
 116.002,
 125.9863,
 167.0131,
 212.0326,
 466.381,
 333.4487,
 158.174,
 312.9438,
 410.9521,
 146.4997,
 169.009,
 322.934,
 359.9317,
 168.0161,
 147.5167,
 112.9785,
 257.9774,
 198.9408,
 171.9915,
 218.9847,
 175.0026,
 122.6236,
 208.0393,
 143.9971,
 304.6901,
 113.1075,
 162.0077,
 211.4786,
 301.9498,
 111.0391,
 463.4066,
 155.5052,
 185.0238,
 122.47,
 259.9375,
 279.9109,
 421.9131,
 214.9172,
 320.9377,
 311.9462,
 129.979,
 231.9917,
 167.9631,
 380.4438,
 450.8801,
 341.437,
 403.9126,
 296.9705,
 536.3746,
 398.4276,
 350.4408,
 276.4572,
 528.3841,
 299.9688,
 296.3071,
 273.9542,
 426.9302,
 232.9285,
 406.4166,
 255.9444,
 361.9497,
 491.9087,
 300.9639,
 343.4331,
 380.8879,
 414.4035,
 556.8895,
 369.9255,
 389.8955,
 250.9394,
 385.9017,
 474.8346,
 458.8567,
 408.4142,
 344.875,
 515.8604,
 147.1131,
 250.5876,
 645.821,
 277.9484,
 292.5635,
 604.7903,
 295.151,
 380.1666,
 519.852,
 802.7374,
 153.1275,
 672.78,
 117.1389,
 167.6079,
 175.1187,
 139.1114,
 583.8503,
 870.7217,
 139.8004,
 148.6571,
 542.8221,
 808.7523,
 740.769,
 649.8124,
 396.8868,
 610.8108,
 437.9122,
 876.7438,
 453.8907,
 432.0506,
 307.9544,
 594.8332,
 517.8533,
 412.8637,
 647.8118,
 678.7965,
 582.8337,
 480.8502,
 457.8827,
 377.9132,
 521.8784,
 814.774,
 282.9055,
 944.7317,
 118.0863,
 183.094,
 464.8742,
 783.7871,
 327.9249,
 798.79,
 351.9923,
 746.7883,
 650.8209,
 718.8098,
 1018.7337,
 950.7445,
 1012.7138,
 548.8386,
 585.8422,
 662.819,
 526.8457,
 359.1064,
 616.8256,
 391.9197,
 882.7604,
 532.8611,
 653.828,
 235.0007,
 496.8256,
 416.971,
 196.1186,
 177.1349,
 152.9471,
 721.8206,
 185.1148,
 656.8383,
 334.915,
 600.8503,
 736.8228,
 1086.7185,
 402.9037,
 287.0158,
 286.2241,
 755.8134,
 350.8933,
 564.8124,
 730.805,
 684.8148,
 668.8357,
 820.7854,
 789.8041,
 888.7742,
 418.8807,
 538.8796,
 470.8914,
 857.7947,
 490.8619,
 133.0766,
 523.8696,
 588.8477,
 1092.741,
 486.8681,
 956.7604,
 554.8568,
 690.8325,
 758.8203,
 659.8441,
 220.9344,
 133.1338,
 366.8671,
 622.8424,
 1024.7448,
 193.974,
 625.852,
 752.7988,
 742.8439,
 261.9611,
 606.8683,
 272.9435,
 674.8546,
 900.8101,
 266.4991,
 962.7838,
 428.9057,
 326.0146,
 894.7921,
 422.8841,
 339.9069,
 727.8294,
 826.8063,
 496.8794,
 434.8546,
 768.7722,
 1030.7661,
 560.8742,
 502.8414,
 288.9223,
 693.8388,
 471.9664,
 700.7862,
 340.9329,
 570.8284,
 591.858,
 638.8193,
 664.8249,
 706.8044,
 761.8248,
 832.8222,
 209.9479,
 492.8846,
 628.8583,
 292.9152,
 792.8088,
 448.0396,
 424.8985,
 804.8102,
 356.9102,
 696.8502,
 222.033,
 604.9582,
 170.1285,
 109.0764,
 678.9621,
 236.909,
 304.8956,
 542.9889,
 132.0032,
 576.8449,
 226.9517,
 702.8623,
 644.8365,
 596.8388,
 307.5244,
 372.8836,
 425.0236,
 764.8342,
 106.9508,
 566.8889,
 158.964,
 362.9272,
 498.9003,
 430.915,
 508.8582,
 774.7905,
 634.8763,
 348.0584,
 184.1449,
 446.8884,
 294.9387,
 440.8705,
 310.9138,
 514.8748,
 174.938,
 672.9445,
 474.9996,
 481.0172,
 378.9006,
 189.0621,
 105.0428,
 684.9791,
 610.9763,
 810.761,
 242.9256,
 952.7529,
 351.0575,
 600.7788,
 144.0633,
 616.9899,
 549.0041,
 140.9034,
 296.8645,
 162.1489,
 555.0214,
 884.7609,
 413.0281,
 419.0446,
 345.0415,
 686.8205,
 878.7465,
 680.8032,
 748.7896,
 487.0312,
 674.7853,
 816.7737,
 736.7523,
 538.8096,
 618.832,
 742.7736,
 880.7489,
 280.0706,
 612.8165,
 122.0813,
 606.7989,
 488.8724,
 550.8451,
 132.9051,
 482.8567,
 128.0684,
 552.842,
 213.1713,
 470.8225,
 410.8478,
 544.8273,
 511.8504,
 573.8198,
 222.9394,
 546.8249,
 498.8275,
 137.1325,
 166.1074,
 166.1345,
 476.8402,
 106.0865,
 738.7581,
 375.8733,
 478.839,
 484.8539,
 596.7682,
 443.8626,
 416.866,
 198.5504,
 276.9131,
 528.7819,
 414.8678,
 420.8848,
 408.8522,
 232.116,
 608.8013,
 323.0402,
 352.8984,
 540.813,
 284.9106,
 383.8876,
 346.8816,
 278.0395,
 368.872,
 394.8741,
 416.9001,
 381.8914,
 348.877,
 670.7708,
 604.782,
 276.0429,
 392.8749,
 180.5583,
 602.7834,
 104.1071,
 340.8638,
 232.8967,
 375.0281,
 253.9291,
 472.8251,
 216.9228,
 272.8769,
 234.8946,
 534.7975,
 280.89,
 313.9023,
 150.9323,
 400.8195,
 278.8933,
 294.8667,
 148.9356,
 212.9029,
 466.8107,
 218.9196,
 251.9321,
 398.8228,
 560.8028,
 188.1507,
 330.8361,
 274.8814,
 432.8396,
 245.9159,
 303.8742,
 470.9882,
 210.9061,
 538.9741,
 404.8401,
 263.9265,
 253.0118,
 371.8614,
 342.8705,
 468.8067,
 318.0795,
 206.894,
 336.8515,
 406.8361,
 474.8236,
 338.8497,
 286.9426,
 142.9482,
 208.8913,
 292.5783,
 347.0325,
 360.0467,
 268.8645,
 201.9555,
 200.5703,
 231.8749,
 200.877,
 241.9039,
 210.1342,
 270.9646,
 312.9064,
 294.087,
 532.9574,
 302.914,
 121.9748,
 129.1024,
 359.1084,
 402.9993,
 148.0973,
 289.8934,
 198.011,
 326.8231,
 192.5811,
 154.9902,
 162.1127,
 163.1336,
 392.9714,
 354.0563,
 403.9799,
 199.9881,
 177.1348,
 159.1132,
 189.1234,
 261.0886,
 151.0356,
 118.0863,
 115.0868,
 262.9333,
 213.9834,
 186.8958,
 377.1042,
 182.9855,
 270.0265,
 211.5521,
 306.0507,
 236.1758,
 171.5524,
 335.026,
 436.0085,
 221.5265,
 142.5498,
 145.1085,
 248.0448,
 203.0529,
 124.8975,
 127.0726,
 139.1119,
 311.0288,
 257.1839,
 355.1234,
 162.5475,
 431.8602,
 427.0763,
 249.5752,
 130.5258,
 266.9515,
 281.0186,
 374.0614,
 263.0845,
 205.0687,
 387.9358,
 266.0268,
 126.8956,
 179.5501,
 220.0384,
 218.0339,
 198.9896,
 233.9131,
 527.1614,
 241.2105,
 237.9247,
 140.9594,
 365.1063,
 120.5276,
 255.0218,
 207.9934,
 205.9967,
 141.0409,
 333.9588,
 107.9668,
 243.9419,
 247.9515,
 204.0009,
 357.0718,
 250.0062,
 360.9191,
 186.0736,
 170.5405,
 315.9372,
 343.0375,
 254.1607,
 346.9633,
 203.129,
 216.1208,
 230.9614,
 232.9569,
 173.4826,
 345.0528,
 259.9736,
 268.0536,
 355.0682,
 300.0358,
 235.2021,
 173.4978,
 370.9473,
 188.027,
 230.0457,
 143.1181,
 308.9735,
 284.0107,
 505.0905,
 310.9695,
 168.9906,
 269.0525,
 257.9781,
 299.0051,
 120.0477,
 400.9919,
 339.9842,
 110.9962,
 368.984,
 337.9871,
 335.9919,
 157.1462,
 219.9731,
 391.041,
 131.5097,
 414.0045,
 268.9497,
 308.0602,
 175.8764,
 161.0271,
 308.2444,
 587.168,
 127.1231,
 344.9656,
 223.044,
 544.2779,
 442.0259,
 233.1978,
 178.8805,
 315.2257,
 202.5313,
 104.0708,
 418.2466,
 166.1073,
 365.013,
 110.5191,
 134.1178,
 148.0968,
 101.1075,
 273.9626,
 643.3699,
 219.1091,
 150.0777,
 146.118,
 107.0002,
 215.187,
 185.0205,
 118.1228,
 243.1607,
 260.1626,
 475.861,
 377.2556,
 136.0758,
 474.2633,
 472.8477,
 279.1823,
 172.1195,
 293.2442,
 232.1004,
 424.1756,
 454.2232,
 192.1599,
 160.0338,
 170.0169,
 476.1923,
 280.1121,
 353.2705,
 303.9534,
 152.0708,
 571.3152,
 376.0236,
 444.0277,
 154.0863,
 340.2028,
 414.2876,
 500.2668,
 301.9583,
 472.1779,
 102.1279,
 337.2133,
 324.2401,
 287.1632,
 188.0709,
 174.1603,
 224.1288,
 139.8005,
 480.2173,
 127.5136,
 138.0698,
 128.1433,
 365.2203,
 156.1026,
 286.9934,
 309.163,
 507.2174,
 285.0811,
 361.2597,
 214.0998,
 538.227,
 266.6226,
 116.9771,
 348.1456,
 341.1531,
 364.0119,
 121.0762,
 168.139,
 210.0792,
 160.1333,
 214.0711,
 263.1358,
 201.6001,
 264.1906,
 316.1773,
 362.2563,
 713.2872,
 265.1912,
 196.0604,
 425.1899,
 249.1966,
 114.128,
 190.0866,
 187.0871,
 312.1382,
 472.514,
 442.2253,
 405.2664,
 102.9989,
 349.213,
 436.1844,
 657.2995,
 448.1896,
 609.2978,
 231.1498,
 397.271,
 518.2337,
 525.266,
 106.0865,
 432.1954,
 288.1594,
 242.0806,
 510.2652,
 431.1072,
 349.1013,
 245.1404,
 282.1703,
 245.0275,
 351.135,
 271.1766,
 100.1123,
 174.5767,
 291.161,
 310.0753,
 179.0172,
 310.1414,
 244.0779,
 179.1517,
 247.104,
 329.1533,
 380.1985,
 276.1452,
 329.2613,
 302.1752,
 571.2134,
 407.2219,
 241.5376,
 321.0979,
 163.9935,
 345.1804,
 218.135,
 476.5281,
 344.1589,
 267.1217,
 464.1862,
 278.053,
 462.2061,
 226.0719,
 393.2056,
 228.0911,
 398.171,
 304.2024,
 420.1374,
 101.0033,
 458.2166,
 182.1292,
 194.9913,
 199.0867,
 146.5858,
 469.1772,
 130.1592,
 181.0128,
 389.0255,
 402.1945,
 435.2611,
 286.1433,
 227.6156,
 338.0873,
 336.2034,
 234.1243,
 207.6466,
 388.2028,
 648.2902,
 194.093,
 118.9753,
 229.1338,
 441.1615,
 340.0846,
 247.2135,
 244.981,
 274.1445,
 251.1869,
 382.2161,
 342.1711,
 255.6355,
 329.046,
 363.1465,
 448.9622,
 290.1056,
 328.1587,
 150.128,
 374.1972,
 193.1335,
 200.1107,
 294.1558,
 326.1851,
 366.1739,
 325.115,
 206.1186,
 163.0435,
 212.0919,
 451.166,
 257.0311,
 320.1413,
 301.1222,
 126.0561,
 352.1581,
 429.1477,
 162.0424,
 261.135,
 213.5838,
 271.0867,
 359.1972,
 132.1022,
 333.1409,
 478.162,
 131.0324,
 296.1397,
 270.1274,
 382.2,
 455.1808,
 240.6076,
 162.9737,
 255.1451,
 327.1452,
 162.0665,
 205.0979,
 320.9974,
 314.1624,
 386.9886,
 140.0708,
 278.1248,
 305.1505,
 268.1654,
 394.2169,
 353.0929,
 418.0999,
 116.0707,
 130.0868,
 707.7627,
 292.1113,
 125.9864,
 483.193,
 322.9943,
 368.1752,
 406.2095,
 379.19,
 248.1644,
 372.1497,
 204.0003,
 656.3054,
 370.1714,
 338.164,
 241.0575,
 416.1018,
 160.5093,
 240.1103,
 146.0072,
 221.1108,
 460.213,
 254.9649,
 412.2721,
 137.9997,
 287.9783,
 251.0758,
 319.0022,
 242.9838,
 167.0129,
 155.0642,
 303.0242,
 358.2019,
 294.6418,
 326.0587,
 295.1302,
 307.1078,
 567.2517,
 240.9875,
 212.9928,
 390.3712,
 445.1602,
 308.1769,
 144.0258,
 216.0134,
 129.4898,
 436.9868,
 664.7923,
 280.1388,
 140.5214,
 225.01,
 118.5079,
 208.04,
 137.002,
 124.0791,
 100.0144,
 176.1402,
 384.1439,
 142.03,
 262.181,
 490.2846,
 227.0068,
 361.1679,
 424.2018,
 215.0158,
 486.9829,
 404.0561,
 164.5321,
 177.0066,
 154.0053,
 178.0049,
 443.0281,
 183.0088,
 122.0813,
 173.5194,
 282.0138,
 157.5149,
 196.5224,
 176.0092,
 169.018,
 168.0201,
 139.0213,
 109.0764,
 119.5057,
 120.528,
 184.0637,
 259.0267,
 ...]

In [66]:
rts

[0.031,
 0.034,
 0.038,
 0.042,
 0.427,
 0.448,
 0.449,
 0.457,
 0.462,
 0.467,
 0.467,
 0.469,
 0.475,
 0.475,
 0.476,
 0.477,
 0.477,
 0.477,
 0.477,
 0.478,
 0.479,
 0.479,
 0.48,
 0.481,
 0.482,
 0.483,
 0.485,
 0.487,
 0.487,
 0.488,
 0.488,
 0.489,
 0.489,
 0.489,
 0.491,
 0.493,
 0.493,
 0.493,
 0.493,
 0.494,
 0.494,
 0.494,
 0.494,
 0.495,
 0.495,
 0.496,
 0.496,
 0.496,
 0.496,
 0.497,
 0.497,
 0.497,
 0.498,
 0.498,
 0.498,
 0.498,
 0.499,
 0.499,
 0.499,
 0.499,
 0.499,
 0.499,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.5,
 0.501,
 0.501,
 0.501,
 0.501,
 0.501,
 0.501,
 0.501,
 0.501,
 0.501,
 0.501,
 0.501,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.502,
 0.503,
 0.503,
 0.503,
 0.503,
 0.503,
 0.503,
 0.503,
 0.503,
 0.503,
 0.503,
 0.503,
 0.503,
 0.503,
 0.503,
 0.503,
 0.503,
 0.503,
 0.503,
 0.503,
 0.503,
 0.503,
 0.503,
 0.504,
 0.504,
 0.504,
 0.504,
 0.504,
 0.504,
 0.504,
 0.504,
 0.504,
 0.504,
 0.504,
 0.505,
 0.505,
 0.505,
 0.505,
 0.505,
 0.505,
 0.505,
 0.505,
 0.505,
 0.506,
 0.506,
 0.506,
 0.506,
 0.506,
 0.506,
 0.506,
 0.506,
 0.506,
 0.506,
 0.506,
 0.507,
 0.507,
 0.507,
 0.507,
 0.507,
 0.507,
 0.507,
 0.507,
 0.507,
 0.507,
 0.508,
 0.508,
 0.508,
 0.508,
 0.508,
 0.508,
 0.508,
 0.508,
 0.508,
 0.508,
 0.508,
 0.508,
 0.509,
 0.509,
 0.509,
 0.509,
 0.509,
 0.51,
 0.51,
 0.511,
 0.511,
 0.513,
 0.513,
 0.513,
 0.513,
 0.513,
 0.513,
 0.513,
 0.514,
 0.514,
 0.515,
 0.515,
 0.516,
 0.516,
 0.516,
 0.516,
 0.516,
 0.517,
 0.517,
 0.517,
 0.517,
 0.517,
 0.518,
 0.518,
 0.518,
 0.518,
 0.518,
 0.518,
 0.518,
 0.518,
 0.519,
 0.519,
 0.519,
 0.519,
 0.519,
 0.519,
 0.519,
 0.519,
 0.519,
 0.519,
 0.52,
 0.52,
 0.52,
 0.52,
 0.52,
 0.521,
 0.521,
 0.521,
 0.521,
 0.521,
 0.521,
 0.521,
 0.521,
 0.521,
 0.521,
 0.522,
 0.522,
 0.522,
 0.522,
 0.522,
 0.522,
 0.522,
 0.522,
 0.523,
 0.523,
 0.523,
 0.523,
 0.523,
 0.523,
 0.523,
 0.523,
 0.523,
 0.523,
 0.523,
 0.523,
 0.523,
 0.523,
 0.523,
 0.523,
 0.523,
 0.523,
 0.524,
 0.524,
 0.524,
 0.524,
 0.524,
 0.524,
 0.524,
 0.524,
 0.524,
 0.524,
 0.525,
 0.525,
 0.525,
 0.525,
 0.525,
 0.525,
 0.525,
 0.525,
 0.525,
 0.525,
 0.525,
 0.525,
 0.525,
 0.525,
 0.525,
 0.525,
 0.526,
 0.526,
 0.526,
 0.526,
 0.526,
 0.526,
 0.526,
 0.526,
 0.526,
 0.526,
 0.526,
 0.526,
 0.526,
 0.526,
 0.526,
 0.527,
 0.527,
 0.527,
 0.527,
 0.527,
 0.527,
 0.527,
 0.527,
 0.527,
 0.527,
 0.527,
 0.527,
 0.527,
 0.527,
 0.527,
 0.527,
 0.527,
 0.528,
 0.528,
 0.528,
 0.528,
 0.528,
 0.528,
 0.528,
 0.528,
 0.528,
 0.528,
 0.528,
 0.528,
 0.528,
 0.528,
 0.528,
 0.529,
 0.529,
 0.529,
 0.529,
 0.529,
 0.529,
 0.529,
 0.529,
 0.529,
 0.529,
 0.529,
 0.529,
 0.529,
 0.529,
 0.53,
 0.53,
 0.53,
 0.53,
 0.53,
 0.53,
 0.53,
 0.53,
 0.53,
 0.53,
 0.53,
 0.53,
 0.53,
 0.53,
 0.531,
 0.531,
 0.531,
 0.531,
 0.531,
 0.531,
 0.531,
 0.531,
 0.531,
 0.531,
 0.532,
 0.532,
 0.532,
 0.533,
 0.533,
 0.533,
 0.533,
 0.533,
 0.533,
 0.534,
 0.534,
 0.534,
 0.534,
 0.534,
 0.534,
 0.534,
 0.534,
 0.534,
 0.534,
 0.535,
 0.535,
 0.535,
 0.535,
 0.535,
 0.535,
 0.536,
 0.536,
 0.536,
 0.536,
 0.536,
 0.536,
 0.536,
 0.536,
 0.537,
 0.537,
 0.537,
 0.538,
 0.538,
 0.538,
 0.538,
 0.538,
 0.538,
 0.538,
 0.538,
 0.538,
 0.539,
 0.539,
 0.539,
 0.539,
 0.539,
 0.539,
 0.539,
 0.539,
 0.539,
 0.54,
 0.54,
 0.54,
 0.54,
 0.54,
 0.54,
 0.54,
 0.54,
 0.54,
 0.54,
 0.54,
 0.54,
 0.54,
 0.54,
 0.54,
 0.54,
 0.541,
 0.541,
 0.541,
 0.541,
 0.541,
 0.541,
 0.541,
 0.541,
 0.541,
 0.541,
 0.541,
 0.541,
 0.541,
 0.542,
 0.542,
 0.542,
 0.542,
 0.542,
 0.542,
 0.543,
 0.543,
 0.543,
 0.543,
 0.543,
 0.543,
 0.543,
 0.544,
 0.544,
 0.544,
 0.544,
 0.544,
 0.544,
 0.544,
 0.544,
 0.544,
 0.544,
 0.544,
 0.545,
 0.545,
 0.545,
 0.545,
 0.545,
 0.545,
 0.545,
 0.545,
 0.545,
 0.545,
 0.545,
 0.545,
 0.545,
 0.546,
 0.546,
 0.546,
 0.546,
 0.546,
 0.546,
 0.546,
 0.546,
 0.546,
 0.546,
 0.546,
 0.546,
 0.546,
 0.546,
 0.547,
 0.547,
 0.547,
 0.547,
 0.547,
 0.547,
 0.547,
 0.547,
 0.547,
 0.547,
 0.547,
 0.548,
 0.548,
 0.548,
 0.548,
 0.548,
 0.548,
 0.548,
 0.548,
 0.548,
 0.548,
 0.548,
 0.549,
 0.549,
 0.549,
 0.549,
 0.55,
 0.55,
 0.55,
 0.55,
 0.551,
 0.551,
 0.551,
 0.551,
 0.551,
 0.551,
 0.551,
 0.551,
 0.551,
 0.551,
 0.551,
 0.551,
 0.552,
 0.552,
 0.552,
 0.552,
 0.552,
 0.553,
 0.553,
 0.553,
 0.553,
 0.553,
 0.553,
 0.553,
 0.553,
 0.553,
 0.553,
 0.554,
 0.554,
 0.554,
 0.554,
 0.554,
 0.554,
 0.554,
 0.554,
 0.554,
 0.554,
 0.554,
 0.554,
 0.554,
 0.554,
 0.554,
 0.554,
 0.554,
 0.555,
 0.555,
 0.555,
 0.555,
 0.555,
 0.555,
 0.555,
 0.555,
 0.557,
 0.557,
 0.557,
 0.557,
 0.557,
 0.557,
 0.557,
 0.558,
 0.558,
 0.558,
 0.558,
 0.558,
 0.558,
 0.559,
 0.559,
 0.559,
 0.559,
 0.56,
 0.56,
 0.56,
 0.56,
 0.56,
 0.56,
 0.56,
 0.56,
 0.561,
 0.561,
 0.561,
 0.561,
 0.561,
 0.561,
 0.561,
 0.562,
 0.562,
 0.562,
 0.562,
 0.564,
 0.564,
 0.564,
 0.564,
 0.565,
 0.565,
 0.565,
 0.565,
 0.565,
 0.566,
 0.566,
 0.566,
 0.566,
 0.566,
 0.566,
 0.566,
 0.566,
 0.567,
 0.567,
 0.568,
 0.568,
 0.568,
 0.568,
 0.568,
 0.568,
 0.569,
 0.57,
 0.57,
 0.571,
 0.571,
 0.572,
 0.573,
 0.573,
 0.573,
 0.573,
 0.574,
 0.574,
 0.574,
 0.574,
 0.574,
 0.575,
 0.575,
 0.575,
 0.575,
 0.575,
 0.575,
 0.575,
 0.575,
 0.575,
 0.576,
 0.576,
 0.576,
 0.576,
 0.577,
 0.577,
 0.577,
 0.577,
 0.577,
 0.577,
 0.577,
 0.577,
 0.577,
 0.577,
 0.578,
 0.578,
 0.578,
 0.578,
 0.578,
 0.578,
 0.578,
 0.578,
 0.578,
 0.578,
 0.578,
 0.578,
 0.578,
 0.578,
 0.578,
 0.579,
 0.579,
 0.579,
 0.579,
 0.579,
 0.579,
 0.579,
 0.579,
 0.579,
 0.579,
 0.579,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.58,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.581,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.582,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.583,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.584,
 0.585,
 0.585,
 0.585,
 0.585,
 0.585,
 0.585,
 0.585,
 0.585,
 0.585,
 0.585,
 0.585,
 0.586,
 0.586,
 0.586,
 0.586,
 0.586,
 0.586,
 0.586,
 0.586,
 0.586,
 0.586,
 0.587,
 0.587,
 0.587,
 0.587,
 0.587,
 0.587,
 0.587,
 0.587,
 0.587,
 0.587,
 0.588,
 0.588,
 0.588,
 0.588,
 0.588,
 0.588,
 0.588,
 0.588,
 0.588,
 0.589,
 0.589,
 0.589,
 0.589,
 0.589,
 0.589,
 0.589,
 0.589,
 0.589,
 0.59,
 0.59,
 0.59,
 0.59,
 0.59,
 0.59,
 0.59,
 0.591,
 0.591,
 0.591,
 0.591,
 0.591,
 0.591,
 0.592,
 0.592,
 0.592,
 0.592,
 0.592,
 0.593,
 0.593,
 0.593,
 0.593,
 0.594,
 0.594,
 0.594,
 0.594,
 0.594,
 0.594,
 0.595,
 0.595,
 0.595,
 0.595,
 0.595,
 ...]

In [67]:
zip(mzs, rts)

In [60]:
len(mzs)

25948

In [61]:
len(rts)

25948

In [34]:
a = ["1", "2", "3"]

In [40]:
type(table_1["Average Mz"].iloc[0])==float

False

In [68]:
a

[1, 2, 23, 3, 3, 4, 5, 5, 3, 2, 2, 34]

In [70]:
a.index(2)

1

In [36]:
[float(x) for x in a]

[1.0, 2.0, 3.0]

### HPC NF VS Local NF

In [51]:
table_1 = pd.read_csv("../manuscript/peak_table/hpc_nf/ms-dial/AlignResult-202212142025.txt", delimiter="\t", header=4)

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [52]:
table_2 = pd.read_csv("../manuscript/peak_table/local_nf/ms-dial/AlignResult-20231271922.txt", delimiter="\t", header=4)

In [53]:
len(table_1)

25951

In [54]:
len(table_2)

25445

In [55]:
n_overlapping_peaks(table_1, table_2, "Average Mz", "Average Rt(min)", 10, 0.3)

18857

### HPC CMD VS HPC NF

In [56]:
table_1 = pd.read_csv("../manuscript/peak_table/hpc_cmd/ms-dial/AlignResult-20231272341.txt", delimiter="\t", header=4)

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [57]:
table_2 = pd.read_csv("../manuscript/peak_table/hpc_nf/ms-dial/AlignResult-202212142025.txt", delimiter="\t", header=4)

In [58]:
len(table_1)

25951

In [59]:
len(table_2)

25951

In [60]:
n_overlapping_peaks(table_1, table_2, "Average Mz", "Average Rt(min)", 10, 0.3)

25951

### Local CMD VS Local NF

In [68]:
table_1 = pd.read_csv("../manuscript/peak_table/local_cmd/ms-dial/AlignResult-2023129133.txt", delimiter="\t", header=4)

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [69]:
table_2 = pd.read_csv("../manuscript/peak_table/local_nf/ms-dial/AlignResult-20231271922.txt", delimiter="\t", header=4)

In [70]:
len(table_1)

25445

In [71]:
len(table_2)

25445

In [72]:
n_overlapping_peaks(table_1, table_2, "Average Mz", "Average Rt(min)", 10, 0.3)

25445

### Overlapping Between Local and Benchmark

In [103]:
table_1 = pd.read_csv("../manuscript/peak_table/local_nf/ms-dial/AlignResult-20231271922.txt", delimiter="\t", header=4)

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [104]:
table_2 = pd.read_excel("../manuscript/benchmark_libs/lib.xlsx", sheet_name="QE HF dataset_TableS8", header=6)

In [105]:
len(table_1)

25445

In [106]:
table_1.head()

,Alignment ID,Average Rt(min),Average Mz,Metabolite name,Adduct type,Post curation result,Fill %,MS/MS assigned,Reference RT,Reference m/z,...,SA1,SA2,SA3,SA4,SA5,SB1,SB2,SB3,SB4,SB5
0,0,0.562,100.01421,Unknown,[M+2H]2+,NaN,0.3,False,NaN,NaN,...,8714982.00,7387047.5,10247660.0,8517238.0,6663123.0,7660357.00,6522387.5,6514624.0,9974121.0,9562859.0
1,1,35.967,100.01428,Unknown,[M+NH4]2+,adduct linked to 2150_[M+H]+,0.9,False,NaN,NaN,...,765282.90,942749.0,1229463.0,880391.2,1132224.9,907290.06,1239561.4,1271661.1,1253242.1,1348959.9
2,2,0.500,100.01443,Unknown,[M+H]2+,adduct linked to 3419_[M+Na]+,1.0,False,NaN,NaN,...,8001129.00,13925881.0,16331838.0,16200029.0,18298616.0,6891007.50,15492309.0,16130891.0,17702120.0,20029132.0
3,3,0.592,100.01444,Unknown,[M+2H]2+,NaN,0.9,False,NaN,NaN,...,8898810.00,10046386.0,9382828.0,10474542.0,10473924.0,12107133.00,8653832.0,9658213.0,12457828.0,11770822.0
4,4,31.647,100.06959,Unknown,[M+H]+,NaN,1.0,False,NaN,NaN,...,824087.44,1108073.5,1230883.0,1154022.8,1614246.2,2215985.00,2037453.5,2112368.2,2052877.8,1913928.4

In [107]:
table_1["Average Mz"]

0         100.01421
1         100.01428
2         100.01443
3         100.01444
4         100.06959
            ...
25440    1490.57178
25441    1490.92615
25442    1491.03601
25443    1497.48169
25444    1497.52856
Name: Average Mz, Length: 25445, dtype: float64

In [108]:
table_1["Average Rt(min)"]

0         0.562
1        35.967
2         0.500
3         0.592
4        31.647
          ...
25440    30.313
25441     4.751
25442     4.750
25443    31.699
25444    30.323
Name: Average Rt(min), Length: 25445, dtype: float64

In [109]:
len(table_2)

836

In [110]:
table_2.head()

,Feature number,Compound formula,Adduct,Average Mz,Average Rt(min),Fold change,p-value,Compound concentration ratio,Unnamed: 8,Unnamed: 9
0,1,C21H26N2S2,+H,371.1617,18.85,0.474166,0.000481,1/2,NaN,NaN
1,2,C25H31NO6,+H,442.2233,17.66,21.230982,0.000001,16/1,NaN,NaN
2,3,C14H17N3O2S,+H,292.1118,3.01,1.905322,0.019356,2/1,NaN,NaN
3,4,C27H31N7OS,+H,502.2395,22.78,1.062849,0.289866,1/1,NaN,NaN
4,5,C20H23NO4,+H,342.1706,3.37,1.066033,0.399052,1/1,NaN,NaN

In [111]:
n_overlapping_peaks(table_1, table_2, "Average Mz", "Average Rt(min)", 10, 0.3)

401

### Overlapping Between HPC and Benchmark

In [112]:
table_1 = pd.read_csv("../manuscript/peak_table/hpc_nf/ms-dial/AlignResult-202212142025.txt", delimiter="\t", header=4)

/Users/xinsongdu/.pyenv/versions/miniconda3-latest/lib/python3.8/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (14) have mixed types.Specify dtype option on import or set low_memory=False.
  has_raised = await self.run_ast_nodes(code_ast.body, cell_name,

In [113]:
table_2 = pd.read_excel("../manuscript/benchmark_libs/lib.xlsx", sheet_name="QE HF dataset_TableS8", header=6)

In [114]:
len(table_1)

25951

In [115]:
n_overlapping_peaks(table_1, table_2, "Average Mz", "Average Rt(min)", 10, 0.3)

390